<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#73c5d3"/>
  <meta name="msapplication-TileImage" content="sbx_144x144.png"/>
  <!--[if (lt IE 9) & (!IEMobile)]>
      <link href="/css/no-mq-base.css" rel="stylesheet">
      <![endif]-->
      <!--[if (gte IE 9) | (IEMobile)]><!-->
      <link href="/css/mq-base.css" rel="stylesheet">
      <!--<![endif]-->

  <script src="/js/libs/modernizr.min.js"></script>
  <script>
    /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
    window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
    grunticon(["/grunticon/icons.data.svg.css", "/grunticon/icons.data.png.css", "/grunticon/icons.fallback.css"]);
  </script>
  <noscript>
    <link href="/grunticon/icons.fallback.css" rel="stylesheet">
  </noscript>
</head>
<body>

  {{ body }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
  <!-- replace this with the .min version for production -->

  <script src="/js/<%= _.slugify(projectName) %>.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
